run = "pip install -r requirements.txt && python bot.py"
language = "python3"
entrypoint = "bot.py"
hidden = [".env", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["pip", "install", "-r", "requirements.txt", "&&", "python", "bot.py"]
deploymentTarget = "cloudrun" 